@use "../base/variables" as *;

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 3rem;

  p {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    font-weight: bold;

    svg {
      font-size: 1.3em;
    }

    &:hover {
      color: #fff;
    }
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }
}
